<header>
    <nav>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/gestion-des-roles">Gestion des Rôles</a></li>
            <li><a href="/admin/autres">Autres Pages</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </nav>
</header>
<hr>
